<%= form_for @session do |f| %>
<div class='gr'><h2>Login</h2></div>
	<% @session.errors.to_a.any? do |error| %>
		<div class="gr error">
			<p><%= error %></p>
		</div>
	<% end -%>
	<div class="gr">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="gr">
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<div class="gr">
		<%= f.submit t('home.login'), :class => 'as-link' %>
	</div>
<% end -%>
