<%= form_for @new_user do |f| %>
<div class='gr'>
	<h2><%= t('home.register') %></h2>
	<p><%= t('form.read_rules') %></p>
</div>

	<% if @new_user.errors.any? %>
		<div class="gr error">
			<p><%= t('form.errors') %></p>
	<% end -%>
	<div class="gr">
		<%= f.label :name %>
		<%= f.text_field :name %>
		<% @new_user.errors[:name].any? do |error| %>
			<span class='error'><%= error %></span>
		<% end %>
	</div>
	<div class="gr">
		<%= f.label :password %>
		<%= f.password_field :password %>
		<% @new_user.errors[:password].any? do |error| %>
			<span class='error'><%= error %></span>
		<% end %>
	</div>
	<div class="gr">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
		<% @new_user.errors[:password_confirmation].any? do |error| %>
			<span class='error'><%= error %></span>
		<% end %>
	</div>
	<div class="gr">
		<%= f.label :email %>
		<%= f.text_field :email %>
		<% @new_user.errors[:email].any? do |error| %>
			<span class='error'><%= error %></span>
		<% end %>
	</div>
	<div class="gr">
		<%= f.submit t('home.register'), :class => "as-link" %>
	</div>
<% end -%>
