<%= link_to post.user do %>
  <span class="username <%= title_classes(post.user) %>"><%= post.user.name %></span>
<% end -%>
<div class="title"><%= post.user.groups.last.name %></div>
<div class="user_image"><%= image_tag post.user.avatar %></div>
<div class="user_data">
  <p><%= pluralize post.user.posts.size, "Post" %></p>
  <p><%= post.user.created_at.strftime("%B %Y") %></p>
</div>
