<ul class='board_list abnormal'>
	<li class='header_row'>
		<span class='head size50'>
			<%= t 'boards.name' %>
		</span>
		<span class="head size20">
			<%= t 'boards.last_post' %>
		</span>
		<span class="head size20">
			<%= t 'boards.active_threads' %>
		</span>
	</li>
	<% @boards.each do |board| %>
		<% next if board.parent_id or cannot? :read, board %>
		<li class='data_row'>
			<span class="data board_name size50">
				<%= link_to board.name, board_ropes_path(board) %>
			</span>
			<span class="data basic_data size20 <%= "gray" unless board.posts.first %>">
				<%= board.posts.first ? board.posts.first.body[0..20] : t('boards.no_post') %>
			</span>
			<span class="data basic_data size20">
				<%= board.ropes.size %>
			</span>
		</li>
	<% end -%>
</ul>
