<h1><%= @board.name %></h1>
<div class="desc"><%= @board.sub %> &mdash; <%= link_to "threads", board_ropes_path(@board) %></div>
<ul class='board-list'>
  <li class='header-row'>
    <span class='head size50'>Board Name</span>
    <span class="head size20">Last Post</span>
    <span class="head size20">Active Threads</span>
  </li>
  <% @children.each do |board| %>
    <li class='data-row'>
      <span class="data board-name size50"><%= link_to board.name, board %></span>
      <span class="data basic-data size20">???</span>
      <span class="data basic-data size20"><%= board.ropes.size %></span>
    </li>
  <% end -%>
</ul>
