<%= form_for "user", :url => user_session_path, :html => { :id => "new_session" } do |f| %>
	<div class="line">
		<%= f.label :login,     :class => "part" %>
		<%= f.text_field :login,:class => "part", :tabindex => 1 %>
		<%= link_to t('home.register'), new_user_registration_path, :class => "last-part" %>
	</div>
	<div class="line">
		<%= f.label :password,          :class => "part" %>
		<%= f.password_field :password, :class => "part", :tabindex => 2 %>
		<%= f.submit t('home.login'),   :class => "as-link last-part", :tabindex => 3 %>
	</div>
<% end %>
