<div class="reply_box">
  <%= form_for([(unless post.rope then :board else post.rope.board end), post.rope || :rope, post], :html => {:class => "for_editor"}) do |f| %>
    <div class="editor_wrapper">
      <div class="high_bar">
        <div class="icon_container"></div>
        <div class="format_select">
          <%= f.label :format %>
          <%= f.select :format, options_for_select(Formatter::Register.format_list, :selected => AppConfig.default_format) %>
        </div>
      </div>
      <%= f.text_area :body, :class => "editor editor_#{AppConfig.default_format}", :rows => nil, :cols => nil %>
      <div class="output_wrapper"></div>
    </div>
    <div class="error"></div>
    <%= f.hidden_field :parent_id %>
    <%= f.submit :class => "submit" %>
  <% end -%>
</div>
