<h2>Posts In `<%= @thread.title %>`</h2>

<ul class="post-list">
  <%= @posts.find_each do |post| %>
    <li class="post <%= "user_online" if post.user.logged_in? %>">
      <div class="user-data">
        <%= link_to post.user do %>
          <span class="username <%= title_classes(post.user) %>"><%= post.user.name %></span>
        <% end -%>
        <span class="title"><%= post.user.groups.last.name %></span>
        <span><%= image_tag post.user.avatar %></span>
        <span><%= post.user.points %> Points</span>
      </div>
      <div class="post-body"><%= m(post.body, :smart, :filter_html, :safelink, :autolink) %></div>
      <div class="post-footer">
        <span class="post-time">Posted <%= time_ago_in_words post.created_at %> Ago<%= ", Updated #{time_ago_in_words post.updated_at} Ago" if post.created_at != post.updated_at %></span>
        <span class="points">Points: <%= post.points %></span>
      </div>
    </li>
  <% end -%>
</ul>
