<%= render "thread_info" %>
<ul class="post_list abnormal">
	<% for post in @posts %>
		<%= render "post", :post => post %>
	<% end -%>
</ul>
<% if can? :post, @rope %>
	<p><%= t('posts.reply') %></p>
	<%= render "reply_box", :post => Post.new %>
<% end %>
<%= render "thread_info" %>
