<h1>New Post</h1>
<div class="editor_wrapper">
	<%= form_for([:board, :rope, @post], :html => {:class => "for_editor"}) do |f| %>
		<div class="gr">
			<%= f.label :format %>
			<%= f.select :format, options_for_select(Formatter::Register.format_list, :selected => AppConfig.default_format) %>
		</div>
		<div class="gr">
			<%= f.text_area :body, :class => "editor editor_#{AppConfig.default_format}" %>
		</div>
		<div class="gr">
			<%= f.submit %>
		</div>
	<% end -%>
</div>
