<%= render :partial => "ropes/index/thread_info" %>
<ul class='thread_list abnormal'>
	<li class='header_row'>
		<span class='head size50'><%= t 'threads.name' %></span>
		<span class="head size20"><%= t 'threads.last_post' %></span>
		<span class="head size20"><%= t 'threads.posts' %></span>
	</li>
	<% @threads.each do |thread| %>
		<%#= debug thread %>
		<%#= debug thread.ghost(current_user) %>
		<%#= debug(if thread.soft_destroyed? then thread.ghost(current_user).permissions end) %>
		<%#= debug can?(:read, thread) %>
		<%= render :partial => if thread.soft_destroyed? then "ropes/index/deleted_entry" else "ropes/index/entry" end, :locals => { :thread => thread } %>
	<% end -%>
</ul>
<%= render :partial => "ropes/index/thread_info" %>
