<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js <%= controller_name %> <%= controller_name %>_<%= action_name %>" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    <%- if content_for? :title -%>
      <%= content_for :title -%> &mdash; <%= @forum.name -%>
    <%- else -%>
      <%= @forum.name + " / " + controller_name + " / " + action_name -%>
    <%- end -%></title>
  <%# raise %>
  <% if content_for? :desc %>
    <meta name="description" content="<%= content_for :desc %>">
  <% end -%>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <div class="wrapper">
    <a name="#top"></a>
    <div id="wide_border"><header class="clearfix">
      <h1 id="title"><%= link_to @forum.name, root_path %></h1>
      <div id="user_info">
        <% unless current_user.guest? %>
          <div id="user_image">
            <%= image_tag((current_user.avatar || "admin.png"), :height => 32, :width => 32, :id => "image") %>
          </div>
          <div id="user_data">
            <p>Howdy, <%= link_to current_user.name, user_path(current_user) %></p>
            <ul id="user_opts">
              <li><%= link_to "Inbox", "#{user_path(current_user)}/inbox" %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Logout", url_for(:controller => "sessions", :action => "delete") %></li>
            </ul>
          </div>
        <% else %>
          <div id="user_data">
            <p>Howdy, guest!</p>
            <ul id="user_opts">
              <li><%= link_to "Login", new_session_path %></li>
              <li><%= link_to "Register", new_user_path %></li>
            </ul>
          </div>
        <% end -%>
      </div>
    </header></div>
    <div role="main" id="main">
      <div id="location">
        <% last_crumb = @breadcrumbs.last %>
        <ul id="trail" class="abnormal">
          <% @breadcrumbs.each do |crumb| %>
            <% next if crumb == last_crumb %>
            <li><%= link_to crumb.name, crumb.link %></li>
          <% end %>
        </ul>
        <h2><%= link_to last_crumb.name, last_crumb.link %></h2>
      </div>
      <%= yield %>
    </div>
    <footer>
      <p><%= @forum.name %> &middot; version <%= @forum.version %> &middot; <%= link_to "About", "/home/about" %> &middot; <a href="##top">Back to top</a></p>
    </footer>
  </div>

  <%= javascript_include_tag "application" %>

  <!--<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>-->
</body>
</html>
